<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>

  <div class="container wrapper">
    {{ partial "head.html" . }}

    {{ with .Content }}{{ . }}{{ end }}

    <div class="recent-posts section">
		 <div class="typed-container">
    <span class="typed-text" data-text="
My Goal  
The main purpose of my presence is to remain anonymous.  
The main is to create something new.  
Can you unravel Enigma?">
    </span>
  </div>
</div>
      <h2 class="section-header">
        Recent posts
      </h2>
      <div class="posts">
        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
        {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
        {{ range $paginator.Pages }}
       <div class="post">
  <div class="meta">{{ dateFormat "Jan 2, 2006" .Date }}</div>
  <span class="title">{{ .Title }}</span> &mdash;
  <span class="description">{{ .Summary }}</span>


    </span>
  </div>
</div>

        {{ end }}
        {{ template "partials/paginator.html" . }}
      </div>
    </div>
  </div>
  {{ partial "footer.html" . }}
</body>
</html>
